$baseFontReg: "Golos Text Regular", sans-serif;
$baseFontMed: "Golos Text Medium", sans-serif;
$baseFontSemi: "Golos Text SemiBold", sans-serif;
$baseFontBold: "Golos Text Bold", sans-serif;
$benz: "Benzin", sans-serif;