@import "@/assets/styles/base/colors.css";
@import "./base/variables.scss";
@import "./base/default.scss";
@import "./base/fonts.scss";

body { background-color: #ffffff }

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	max-width: 1220px;
}